/* General */
•⁠  ⁠{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #f0f8ff;
    color: #333333;
}

/* Header */
header {
    background: linear-gradient(to bottom, rgba(0, 128, 128, 0.5), rgba(0, 128, 128, 0.8)), url('https://portal.ucm.cl//content/uploads/bfi_thumb/BOLSA-PLASTICA-UCM-p9q1awriwff8kvm92wtdkrfm5ew1oelj40qt404e3q.jpg') no-repeat center center/cover;
    height: 100vh;
    display: flex;
    flex-direction: row; /* Alinea el logo a la izquierda */
    align-items: flex-start; /* Alinea los elementos al principio verticalmente */
    text-align: center;
    color: white;
    padding-left: 20px; /* Controla la distancia del logo respecto al borde izquierdo */
    position: relative; /* Esto es para que el título se posicione sobre el header */
}

/* Contenedor del logo */
.logo-container {
    display: flex;
    flex-direction: column; /* Apila el logo y el título */
    align-items: flex-start; /* Alinea el logo a la izquierda */
    margin-bottom: 20px; /* Espacio debajo del logo */
}

/* Logo */
.logo {
    width: 60px;  /* Ajusta el tamaño del logo */
    height: auto;  /* Mantiene la proporción */
    margin-bottom: 10px; /* Espacio debajo del logo */
}

/* Título */
header h1 {
    font-family: 'Belleza', sans-serif;
    font-size: 4em;
    margin: 0;
    position: absolute; /* Posiciona el título sobre el fondo */
    top: 50%; /* Centra el título verticalmente */
    left: 50%; /* Centra el título horizontalmente */
    transform: translate(-50%, -50%); /* Ajusta la posición para centrarlo perfectamente */
    text-align: center; /* Centra el texto */
    color: white;
}

.faq-item {
    margin: 20px 0;
    text-align: left;
    max-width: 800px;
    margin: 20px auto;
}

.faq-question {
    width: 100%;
    background-color:#289cbf;
    color: #ffffff;
    border: none;
    padding: 15px;
    text-align: left;
    font-size: 1.2em;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.faq-question:hover {
    background-color: #f36b39;
}

.faq-answer {
    display: none;
    padding: 15px;
    background-color: #f4f4f4;
    color: #0b132b;
    border-radius: 5px;
    margin-top: 5px;
}

footer {
    background-color:  #f36b39;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
}

.ong-container {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-top: 20px;
}

.ong-item {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.ong-item h3 {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
}

.ong-item p {
    font-size: 16px;
    color: #555;
    line-height: 1.5;
}

.media-container {
    display: flex;
    gap: 15px;
    justify-content: center;
    margin-top: 15px;
}

.ong-logo {
    max-width: 150px;
    height: auto;
    border-radius: 8px;
}

.ong-image {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

.video-container {
    margin-top: 50px;
    text-align: auto;
}

.btn {
    display: inline-block;
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
    border-radius: 5px;
    font-size: 16px;
    text-decoration: none;
    margin-top: 15px;
}

.btn:hover {
    background-color: #0056b3;
}

.text-body {
    text-align: justify;
    margin: 40px; 
    border: 50px;
}

.text-header {
    text-align: center;
    margin: 40px; 
    border: 50px;
}

.image-body {
    width: 99%;
    padding: 5px;
    text-align: center;
}

.image-body-circle {
    width: 80%;
    text-align: center;
    padding: 90px;
}

.video-body {
    width: 99%;
    padding: 5px;
    text-align: center;
}
